@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+AR:wght@100..400&family=Rubik+Glitch+Pop&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}
:root{
  --main-color : #cece2b ;
  --body-bg: #eee ;
  --body-color : #000 ;
  --sec-bg: #fff ;
}
.dark{

  --body-bg: #555 ;
  --body-color : #ffff ;
  --sec-bg: #000 ;
}


main{
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  background-color: var(--body-bg);
  color: var(--body-color);
  transition: 0.5s;
}